.titulo__projetos {
    margin: 10vh 0;
    color: var(--cabecalho-palavras);
    font-size: 35px;
}

.corDetalhe {
    color: var(--cor-principal);
}

.corDestaquePalavra {
    color: var(--cabecalho-palavras);
}

.main__projetos {
    display:flex;
    margin-bottom: 5vh;
    justify-content: space-evenly;
}

.main__projetosTexto {
    text-align: end;
}

.main__projetosTitulo{
    margin-bottom: 2vh;
    font-size: 23px;
    color: var(--cabecalho-palavras);
}

.main__projetosParagrafo{
    margin-bottom: 2vh;
    max-width: 25vw;
    color: var(--cabecalho-paragrafo);
}

.main__listaLinguagem {
    list-style-type: none;
    display:inline-flex;
}

.main__projetosLinguagem {
    color: var(--cabecalho-palavras);
    font-size: 18px;
    margin: 0 0 1.5vh 1vw;
}

.main__listaAncora {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.main__projetoAncora {
    width: 45px;
    height: auto;
    padding: 1vh;
    border: 1px solid var(--cor-principal);
    border-radius: 100px;
}

.main__projetosImagem {
    max-width: 35vw;
    max-height: 30vh;
    width: auto;
    height: auto;
    border: 1px solid var(--cor-principal);
}